<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div id="container">
        <div class="container"> 
            <div class="row">
                <div class="col-5">
                    <input type="text" class="form-control" placeholder="Inserisci il tuo nome" v-model="name">  
                </div>
                <div class="col-5">
                    <input type="text" class="form-control" placeholder="Inserisci il tuo cognome" v-model="surname">  
                </div>
                <div class="col-2 text-center">
                    <button class="btn btn-primary"@click="greetings">Vai</button>
                </div>
            </div>
            <div class="row mt-5 text-center">
                <div class="col-12">

                    <!-- usata v-bind -->
                    <h1 :class="red">Benvenuto {{name_surname}}</h1>
                </div>
                <div class="col-12 mt-3" :class="visibility">
                    <h3 :class="blue">Il tuo regalo di benvenuto!</h3>

                    <!-- richiamo img con data -->
                    <img :src="image" class="img-width" alt="">
                </div>
            </div>
        </div>
    </div>
    



    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script type="text/javascript" src="./js/script.js"></script>
</body>
</html>